body {
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  direction: ltr;
}

.container {
  margin-top: 250px;
  background-color: #ffffff2e;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  color: black;
  font-size: medium;
}

a {
  text-shadow: none;
  text-decoration: none;
  color: green;
  color: #fff;
  background-color: #0e3c00;
  margin-right: 5px;
  border-width: 0;
  padding: 7px 14px;
  font-size: 14px;
  outline: none !important;
  background-image: none !important;
  filter: none;
  box-shadow: none;
  text-shadow: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 12px;
}

a:hover {
  background-color: green;
}

.signedOut {
  margin-left: 50px;
  align-items: center;
  padding-left: 38px;
}
